<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/jquery"></script>    

<div class="form-inline" id="app">
 <form v-on:submit.prevent="upload">
   <input type="text" name="" v-model="threshold" class="col-sm-8 form-control show_form">
   <input type="text" name="" v-model="message" class="col-sm-8 form-control show_form">
   <button type="submit" name="button" class="btn btn-primary col-sm-3">send</button>
 </form>

 <h2> {{garbled.data}} </h2>
</div>

<script>
    (function(){
        new Vue({
            el: '#app',
            data: {
                threshold: null,
                message: null,
                garbled: {data:''}
            },
            methods: {
                upload: function() {
                    this.formData = new FormData();
                    this.formData.append('contentType', 'application/json');
                    this.formData.append('threshold', this.threshold);
                    this.formData.append('contentData', this.message);

                    axios
                        .post('http://0.0.0.0:3000/garbled', this.formData)
                        .then(response => {
                            console.log(response)
                            this.garbled = response
                        })
                        .catch(function(error) {
                            console.log(error)
                        })
                }
            }
        });
    })();
</script>
